Vagrant.configure("2") do |config|

  config.vm.box = "centos/7"

  config.vm.define :{{ shortname }} do |config_{{ shortname }}|
    config_{{ shortname }}.vm.hostname = "{{ hostname }}"
    config_{{ shortname }}.vm.network :public_network,
      :dev => "{{ mgmt_bridge_iface }}",
      :type => "bridge",
      :libvirt__iface_name => "{{ mgmt_iface_name }}",
      :mac => "{{ hostvars[groups['new_vms'][my_idx]]['mgmt_mac'] }}",
      :auto_config => false
    config_{{ shortname }}.vm.network :public_network,
      :dev => "{{ wan_bridge_iface }}",
      :type => "bridge",
      :libvirt__iface_name => "{{ wan_iface_name }}",
      :mac => "{{ hostvars[groups['new_vms'][my_idx]]['wan_mac'] }}",
      :auto_config => false
    config_{{ shortname }}.vm.network :public_network,
      :dev => "{{ lan_bridge_iface }}",
      :type => "bridge",
      :libvirt__iface_name => "{{ lan_iface_name }}",
      :mac => "{{ hostvars[groups['new_vms'][my_idx]]['lan_mac'] }}",
      :auto_config => false
  config.vm.provision "ansible" do |ansible|
    ansible.playbook = "{{ vm_playbook_absolute_path }}"
    ansible.extra_vars = "{{ vm_playbook_extra_vars_path }}{{ hostname }}.yml"
  end
  config.vm.provider :libvirt do |domain|
    domain.memory = {{ vm_memory }}
    domain.cpus = {{ vm_cpus }}
    domain.autostart = true
  end
end
end